header {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: grey;
}

#featured-property {
  text-align: center;
}

#featured-property p {
  width: 800px;
  margin: 20px auto;
}

#featured-property figcaption {
  font-size: 14px;
  text-align: center;
}

#details {
  display: flex;
  justify-content: space-between;
}

#details > div {
  float: left;
  width: 25%;
  background-color: lightgrey;
  text-align: center;
}
